{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main_content %}
    <div class="mx-auto max-w-6xl flex flex-col gap-8">
        <img src="{{ asset('images/marie14.jpg') }}" alt="" class="rounded-3xl">

        <section id="presentation" class="rounded-3xl bg-white shadow-2xl backdrop-blur-md p-6 md:p-12 flex flex-col gap-4">
            <h2 class="font-heading text-5xl leading-none">A propos de moi</h2>
            <div class="flex flex-col gap-4">
                <p>Je m'appelle Marie Délèze, j'ai 17 ans et je suis une passionnée de ski alpin. Je viens de Nendaz, dans le magnifique canton du Valais en Suisse. Depuis mon plus jeune âge, j'ai été attirée par les montagnes enneigées et les pistes de ski.</p>
                <p>Depuis l’âge de 5 ans, je fais partie du Ski-club Arpettaz de Nendaz. Très rapidement, j’ai attrapé la fièvre de la compétition et depuis j’enchaîne les piquets rouges-bleus toutes les semaines et avec la même passion.</p>
                <p>Parallèlement à ma carrière sportive, je vais entrer en cinquième année du Collège Spiritus Sanctus de Brig en août prochain, où je suis une formation gymnasiale.</p>
            </div>
        </section>

        <section id="sponsors" class="rounded-3xl bg-white shadow-2xl backdrop-blur-md p-6 md:p-12 flex flex-col gap-4">
            <h2 class="font-heading text-5xl leading-none">Sponsoring</h2>
            <div class="text-xl">Un grand merci à tous mes sponsors et partenaires pour leur aide précieuse et leur soutien.</div>
            <div class="grid gap-4 lg:grid-cols-1">
                <a href="https://www.nendaz.ch/fr/" target="_blank" rel="noreferrer" class="flex items-center justify-center rounded-3xl bg-white p-6"><img src="{{ asset('images/sponsors/nendaz-tourisme.svg') }}" alt="Nendaz Tourisme" class="h-48"></a>
                {# <a href="https://www.iomedia.ch" target="_blank" rel="noreferrer" class="flex items-center justify-center rounded-3xl bg-white p-6"><img src="{{ asset('images/sponsors/iomedia.svg') }}" alt="iomedia" class="h-24"></a> #}
            </div>
            <div class="grid gap-4 lg:grid-cols-2">
                <div class="flex items-center justify-center rounded-3xl bg-white p-6">
                    <img src="{{ asset('images/atomic.jpg') }}" alt="Atomic" class="h-16">
                </div>
                <div class="flex items-center justify-center rounded-3xl bg-white p-6">
                    <img src="{{ asset('images/leki.png') }}" alt="Leki" class="h-32">
                </div>
            </div>
        </section>

        <section id="soutien" class="rounded-3xl bg-white shadow-2xl backdrop-blur-md p-6 md:p-12 flex flex-col gap-4">
            <h2 class="font-heading text-5xl leading-none">J'ai besoin de vous</h2>
            <div class="flex flex-col gap-4">
                <p>Le ski de compétition me procure des sensations extraordinaires et est un sport incroyable. Mais, à ce niveau, une saison coûte très cher.</p>
                <p>Pour la saison à venir, il faudra compter sur un budget de plus de 30'000 CHF.</p>
                <p>Ce montant comprend notamment les postes suivants, parmi d’autres:</p>
                <ul class="ml-4 list-disc">
                    <li>Matériel (skis, chaussures, ...)</li>
                    <li>Frais d'hôtels et déplacements</li>
                    <li>Cotisation annuelle</li>
                    <li>Internat de Brig</li>
                    <li>Entretien des skis</li>
                </ul>
                <p>Votre soutien est donc plus que primordiale pour que je puisse poursuivre mon rêve dans les meilleures conditions!</p>
            </div>
            <div class="flex items-center justify-center rounded-3xl bg-white p-6">
                <p><a href="{{ asset('documents/dossier-sponsoring.pdf') }}" target="_blank" class="font-bold text-xl">Télécharger le dossier (PDF)</a></p>
            </div>
            <div class="text-5xl text-center">Merci pour votre aide !</div>
        </section>

        <div class="grid gap-8 md:grid-cols-2">
            <div>
                <iframe class="aspect-video rounded-3xl" src="https://www.youtube.com/embed/0LlD1LGkHEs" title="Slalom Arolla" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div>
                <iframe class="aspect-video rounded-3xl" src="https://www.youtube.com/embed/pfL6QcKZvUc" title="Géant Thyon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
{% endblock %}
