{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Actualités{% endblock %}
{% endblock %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12">
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Bornet Transports me soutient à nouveau</h2>
            <p>29/09/2025</p>
            <img src="{{ asset('images/sponsors/bornet-transports.jpg') }}" alt="Bornet Transports" class="p-16">
            <p>
                Un grand merci à <a href="https://bornettransports.ch/" target="_blank">Bornet Transports</a> qui me soutient une nouvelle fois pour la saison 2025/2026!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Merci à Jean-René Germanier</h2>
            <p>27/09/2025</p>
            <img src="{{ asset('images/sponsors/jean-rene-germanier.png') }}" alt="Jean-René Germanier">
            <p>
                Un grand merci à la cave <a href="https://jrgermanier.ch/" target="_blank">Jean-René Germanier</a> pour leur soutien financier pour la saison à venir!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Soutien de NVRM</h2>
            <p>31/08/2025</p>
            <img src="{{ asset('images/sponsors/logo_nvrm.png') }}" alt="NVRM" class="p-12">
            <p>
                NVRM s'associe à Nendaz Tourisme pour me soutenir lors de la saison 2025/26.
                Je suis fière de représenter ma région et de porter les couleurs de Nendaz! Un grand merci à eux pour leur confiance!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Merci grand-maman!</h2>
            <p>25/07/2025</p>
            <img src="{{ asset('images/sporthilfe.png') }}" alt="Sporthilfe">
            <p>
                Un tout grand merci à ma grand-maman pour son parrainage par le biais de la plateforme <a href="https://sporthilfe.ch/fr/athletes/marie-deleze/" target="_blank">Sporthilfe</a>!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Un grand merci à Latico!</h2>
            <p>30/06/2025</p>
            <img src="{{ asset('images/news/latico.png') }}" alt="">
            <p class="">
                Un grand merci à <a href="https://www.latico.ch" target="_blank">Latico</a> pour leur soutien financier pour la saison à venir!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Un grand merci à iomedia!</h2>
            <p>04/06/2025</p>
            <img src="{{ asset('images/news/iomedia.svg') }}" alt="">
            <p class="">
                <a href="https://www.iomedia.ch" target="_blank">iomedia SA</a> continue de me soutenir pour la saison 2025/26! Un grand merci à eux pour leur confiance!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Collaboration avec LEKI</h2>
            <p>22/05/2025</p>
            <img src="{{ asset('images/leki.png') }}" alt="LEKI">
            <p>
                LEKI continue de me soutenir pour la saison 2025/26! Merci à eux pour leur confiance et leur matériel de qualité!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Partenariat avec Nendaz Tourisme</h2>
            <p>19/05/2025</p>
            <img src="{{ asset('images/sponsors/nendaz-tourisme.svg') }}" alt="">
            <p>
                Un grand merci à <a href="https://www.nendaz.ch/fr/" target="_blank">Nendaz Tourisme</a> qui continue de me soutenir pour la saison 2025/26!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Partenariat avec Atomic</h2>
            <p>02/05/2025</p>
            <img src="{{ asset('images/atomic.jpg') }}" alt="Atomic">
            <p>
                Merci à <a href="https://www.atomic.com/fr-ch" target="_blank">Atomic</a> pour leur soutien et leur confiance pour la saison 2025/26! Je suis impatiente de skier avec leur nouveau matériel!
            </p>
        </div>
        <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-heading">Sélection au Centre National de Performances NLZ Ouest</h2>
            <p>30/04/2025</p>
            <img src="{{ asset('images/nlz.jpg') }}" alt="NLZ Ouest">
            <p>
                Je suis très heureuse d'apprendre que j'ai été <a href="https://drive.google.com/file/d/1WaVC-k3a_VB3AGo5FZf4suimYB3J3TyZ/view" target="_blank">sélectionnée</a> pour intégrer le Centre de Performances NLZ Ouest pour la saison 2025/26. C'est une étape importante dans ma carrière et je suis impatiente de relever ce nouveau défi!
            </p>
        </div>
    </div>
{% endblock %}
