{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Sponsors{% endblock %}
{% endblock %}

{% block content %}
    <p>
        Un grand merci à tous mes sponsors et partenaires pour leur aide précieuse et leur soutien!
    </p>
    <h2 class="font-heading text-3xl !mt-8">Entreprises</h2>
    <div class="grid items-center md:grid-cols-3 gap-8">
        <div class="">
            <a href="https://www.nendaz.ch/fr/" target="_blank">
                <img src="{{ asset('images/sponsors/nendaz-tourisme.svg') }}" alt="Nendaz Tourisme">
            </a>
        </div>
        <div class="p-4">
            <a href="https://www.iomedia.ch" target="_blank">
                <img src="{{ asset('images/sponsors/iomedia.svg') }}" alt="iomedia" class="w-full">
            </a>
        </div>
        <div class="p-16">
            <a href="https://bornettransports.ch/" target="_blank">
                <img src="{{ asset('images/sponsors/bornet-transports.jpg') }}" alt="Bornet Transports">
            </a>
        </div>
        <div class="p-12">
            <a href="https://latico.ch/" target="_blank">
                <img src="{{ asset('images/sponsors/latico.png') }}" alt="Latico">
            </a>
        </div>
        <div class="">
            <a href="https://jrgermanier.ch/" target="_blank">
                <img src="{{ asset('images/sponsors/jean-rene-germanier.png') }}" alt="Jean-René Germanier">
            </a>
        </div>
        <div class="p-12">
            <a href="https://www.axa.ch/fr/aproposdaxa/endroits/agenturen/sion_50108362.html" target="_blank">
                <img src="{{ asset('images/sponsors/axa.png') }}" alt="AXA Winterthur">
            </a>
        </div>
    </div>
    <h2 class="font-heading text-3xl !mt-24">Matériel</h2>
    <div class="grid items-center md:grid-cols-3 gap-8">
        <div class="p-4">
            <img src="{{ asset('images/atomic.jpg') }}" alt="Atomic">
        </div>
        <div class="p-12">
            <img src="{{ asset('images/leki.png') }}" alt="Leki">
        </div>
    </div>
{% endblock %}
