{% extends 'layout.html.twig' %}

{% block title %}
    {% block content_title %}Sponsors{% endblock %}
{% endblock %}

{% block content %}
    <p>
        Un grand merci à tous mes sponsors et partenaires pour leur aide précieuse et leur soutien!
    </p>
    <h2 class="font-heading text-3xl !mt-8">Entreprises</h2>
    <div class="grid items-center md:grid-cols-3">
        <div class="flex justify-center md:col-span-3">
            <a href="https://www.iomedia.ch" target="_blank" class="w-full md:w-3/4">
                <img src="{{ asset('images/sponsors/nendaz-tourisme.svg') }}" alt="" class="w-full">
            </a>
        </div>
        <div class="flex justify-center md:col-span-3">
            <a href="https://www.iomedia.ch" target="_blank" class="w-full md:w-1/2">
                <img src="{{ asset('images/sponsors/iomedia.svg') }}" alt="" class="w-full">
            </a>
        </div>
        <div class="flex justify-center md:col-span-3">
            <a href="https://latico.ch/" target="_blank" class="w-full md:w-1/5">
                <img src="{{ asset('images/sponsors/latico.png') }}" alt="" class="w-full">
            </a>
        </div>
    </div>
    <h2 class="font-heading text-3xl !mt-24">Matériel</h2>
    <div class="flex items-center justify-center gap-6">
        <div class="flex justify-center">
            <img src="{{ asset('images/atomic.jpg') }}" alt="" class="w-full md:w-3/4">
        </div>
        <div class="flex justify-center">
            <img src="{{ asset('images/leki.png') }}" alt="" class="w-full md:w-3/4">
        </div>
    </div>
{% endblock %}
