{% extends 'base.html.twig' %}

{% block body %}
    {% block modal %}
        <dialog>
            <div class="modal-backdrop"></div>
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-content">
                        {% block before_content %}{% endblock %}
                        <div class="flex items-center p-8">
                            <h1 class="modal-title">{% block content_title %}{% endblock %}</h1>
                            <a href="{{ path('app_default_index') }}" class="modal-close" data-modal-hide="default-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">Close modal</span>
                            </a>
                        </div>
                        <div class="p-8 pt-0 space-y-4">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    {% endblock %}

    <div class="app-container" style="background-image: url('{{ asset('images/background.jpg') }}');">
        <header>
            <a href="{{ path('app_default_index') }}">
                <img src="{{ asset('images/marie-white.png') }}" alt="Marie Délèze" class="w-12 md:w-24">
            </a>
            <div>Marie Délèze</div>
        </header>

        <main>
            <ul class="links">
                <li class="link">
                    <a href="{{ path('app_default_about') }}">A propos de moi</a>
                </li>
                <li class="link">
                    <a href="{{ path('app_default_course') }}">Mes performances</a>
                </li>
                <li class="link">
                    <a href="{{ path('app_default_news') }}">actualités</a>
                </li>
                <li class="link">
                    <a href="{{ path('app_default_sponsors') }}">Mes sponsors</a>
                </li>
                <li class="cta">
                    <a href="{{ path('app_default_help') }}">J'ai besoin de vous</a>
                </li>
            </ul>
        </main>

        <footer>
            <ul class="nav">
                <li>
                    <a href="{{ path('app_default_links') }}">Liens utiles</a>
                </li>
            </ul>
            <div class="social">
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"/></svg>
                </a>
                <a href="https://www.youtube.com/@mariedeleze" target="_blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M23 9.71a8.5 8.5 0 0 0-.91-4.13a2.92 2.92 0 0 0-1.72-1A78.36 78.36 0 0 0 12 4.27a78.45 78.45 0 0 0-8.34.3a2.87 2.87 0 0 0-1.46.74c-.9.83-1 2.25-1.1 3.45a48.29 48.29 0 0 0 0 6.48a9.55 9.55 0 0 0 .3 2a3.14 3.14 0 0 0 .71 1.36a2.86 2.86 0 0 0 1.49.78a45.18 45.18 0 0 0 6.5.33c3.5.05 6.57 0 10.2-.28a2.88 2.88 0 0 0 1.53-.78a2.49 2.49 0 0 0 .61-1a10.58 10.58 0 0 0 .52-3.4c.04-.56.04-3.94.04-4.54M9.74 14.85V8.66l5.92 3.11c-1.66.92-3.85 1.96-5.92 3.08"/></svg>
                </a>
                <a href="">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"/></svg>
                </a>
            </div>
            <div>&copy; 2024</div>
        </footer>
    </div>
{% endblock %}
